$darkbg: rgb(41, 41, 41);
$darkcard-bg: rgb(49, 49, 49);
$darktext: white;
$darklink: #5b9e2e;
$darkhover: rgb(107, 107, 107);
$darkborder: rgb(107, 107, 107);

$lightbg: rgb(255, 250, 210);
$lightcard-bg: rgb(241, 236, 192);
$lighttext: rgb(54, 54, 54);
$lightlink: #5b9e2e;
$lighthover: rgb(107, 107, 107);
$lightborder: rgb(107, 107, 107);